@model Entity.Models.Video
@{
    ViewBag.Title = "Самое популярное видео среди пользователей";
}

<h1>Самое популярное видео среди пользователей:</h1>

            <h3>@Model.Title</h3>
            <p>Если видео не отображается, то можете перейте по <a href='@Model.VKPlayer'>этой ссылке.</a></p>
            <iframe src='@Model.Player' width="607" height="360" frameborder="0"></iframe>
